* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #607d8b;
}

.container {
  position: relative;
  top: 50px;
}

.cup {
  position: relative;
  width: 280px;
  z-index: 2;
  height: 300px;
  background: linear-gradient(to right, #9f9f9f, #d9d9d9);
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.top {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #9f9f9f, #d9d9d9);
  border-radius: 50%;
}

.circle {
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  background: linear-gradient(to left, #9f9f9f, #d9d9d9);
  overflow: hidden;
}

.tea {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #c57e65, #e28462);
  border-radius: 50%;
}

.hand {
  position: absolute;
  top: 20%;
  right: -20%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-color: transparent #d9d9d9 #d9d9d9 transparent;
  transform: rotate(-45deg);
  border-style: solid;
  border-width: 20px;
}
.plate {
  position: absolute;
  bottom: -50px;
  border-radius: 50%;
  width: 200%;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #9f9f9f, #d9d9d9);
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}

.plate::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: linear-gradient(to right, #9f9f9f, #d9d9d9);
  border-radius: 50%;
}
.plate::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: radial-gradient(
    rgba(255, 255, 255, 0.2),
    25%,
    transparent,
    transparent
  );
  border-radius: 50%;
}
.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  background-color: #fff;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  32.5% {
    transform: translateY(-100px) scaleX(3);
    opacity: 0.75;
  }
  50% {
    transform: translateY(-150px) scaleX(5);
    opacity: 0.5;
  }
  67.5% {
    transform: translateY(-200px) scaleX(8);
    opacity: 0.25;
  }
  85% {
    opacity: 0;
  }
  100% {
    transform: translateY(-300px) scaleX(10);
  }
}
